.footer {
    background-color: var(--footer-background);
    padding: 60px 0;

    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        &-item {
        
                margin-bottom: 60px;
            }

    }
    .logo{
       display: flex;
       justify-content: center;
    }

    &__social-media {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 206px;
        height: 80px;
       text-align: center;
    }

    &--headers {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--transparent-fill);
        margin-bottom: 20px;
        font-weight: 700;
    }

    &-social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 44px;
    }

    &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

}


.footer-form {
    width: 100%;
    &__span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .btn-primary {
        margin-top: 20px;
    }

    &__textbox {
        display: block;
        width: 91vw;
        max-width:450px;
        height: 50px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding: 16px 15px;
        color: var(--transparent-fill);
        
        &:focus{outline: none;}
    }

    &__svg {
        width: 24px;
        height: 24px;
        margin-left: 24px;
    }
}

.address {
    text-align: center;
    &--font {
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }

    &--color-main {
        color: var(--transparent-fill);
    }

    &--color-second {
        color: rgba(255, 255, 255, 0.6);
    }

    &__list-point:not(:last-child) {
        padding-bottom: 9px;
    }

    &__list-point:first-child {
        padding-top: 20px;
    }
}

.link--hover {
            text-decoration: none;
            transition-property: color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0;
    
            &:hover,
            &:focus {
                color: var(--main-color);
                transform: color;
                fill: var(--main-color);
            }
        }

@media screen and (min-width: 480px) {
.footer__flex{
    max-width: 480px;
}
}

@media screen and (min-width: 768px) {
.footer__flex{
    max-width: 768px;
    flex-direction: row;
    justify-content: space-around;
    &-item{
        flex-basis: calc(95%/2);
        
        }
    }
    


}
@media screen and (min-width: 1200px) {
.footer{
    &__flex {
    flex-wrap: nowrap;
    max-width: 1200px;
    justify-content: space-between;
        &-item{
            flex-basis: unset;
            margin-bottom: unset;
        }
    
}   
&__form {
    text-align: left;
}
.logo {
    justify-content: start;
}
.address{
    text-align: left;
}

}
.footer-form {

    &__span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .btn-primary {
        margin-top: unset;
    }

    &__textbox {
        max-width: 358px;
        margin-right: 12px;
    }

}
}


/*
.footer {
    background-color: var(--footer-background);
    padding: 60px 215px;

    &__flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
           
        }
    
    
    
    &__social-media {
            width: 206px;
            height: 80px;
        }
    
    &--headers {
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--transparent-fill);
            margin-bottom: 20px;
            font-weight: 700;
        }
    
    &-social {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 44px;
        }
    
     
}

.footer__form {
    margin-left: 78px;
}
.footer-form{
    &__span {
        display: flex;
        width: 100%;
    }

    &__textbox {
        display: block;
        width: 358px;
        height: 50px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding: 16px 15px;
        margin-right: 12px;
        color: var(--transparent-fill);
    }

    &__svg {
        width: 24px;
        height: 24px;
        margin-left: 24px;
    }
}
 
.address {
    margin-right: 70px;
    &--font {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.03em;
    }

    &--color-main {
        color: var(--transparent-fill);
    }

    &--color-second {
        color: rgba(255, 255, 255, 0.6);
    }

    &__list-point:not(:last-child) {
        padding-bottom: 9px;
    }

    &__list-point:first-child {
        padding-top: 20px;
    }
}

*/