

.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    max-width: 320px;
    &__div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 16px 0;
      
    }
    &__logo-div {
        margin-right: 120px;
    }

    &__menu{
        display: block;
        width: 40px;
        height: 40px;
     
    }

    &--border {
            border-bottom: 1px solid var(--header-border);
        }
        &__mail,
        &__tel,
        &__contact{
        display: none;
    }

    
  .nav-header {
      display: none;
  }
  .menu--hover {
      text-decoration: none;
      color: var(--secondary-color);
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0;
      cursor: pointer;

      &:hover,
      &:focus {
          color: var(--main-color);
          transform: color;
          fill: var(--main-color);
      }
}
}



@media screen and (min-width: 480px)  {
    .header{
        max-width: 480px;
        
        &__logo-div{
            margin-right: 276px;
        }
    }
    
}

@media screen and (min-width: 768px)  {
    .header {

        max-width:768px;
            &__logo-div {
                margin-right: 83px;
            }
            &__div {
                padding: 26px 0;

            }
    
            &__menu {
                display: none;
    
            }

            &__mail{
                margin-bottom: 10px;
            }
            &__mail,
            &__tel {
                display: flex;
                justify-content: start;
                align-items: center;
                color: var(--background-color);
                fill: var(--background-color);
                &:hover,
                &:focus {
                        color: var(--main-color);
                        transform: color;
                        fill: var(--main-color);
                    }
                }

            &__mail-svg{
                width: 14px;
                height: 10px;
                margin-right: 10px;
            }
            &__tel-svg{
                width: 10px;
                height: 14px;
                margin-right: 10px;
            }
            &__contact {
                display: flex;
                flex-direction: column;
                color: var(--background-color);  
                font-size: 12px;
                line-height: 1.14px;
                letter-spacing: 0.02em;
                font-weight: 500;

                
                     
              }
        .nav-header {
            display: unset;
            margin-left: auto;
            margin-right: 101px;
    
            &__list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-width: 282px;
                
                font-size: 14px;
                line-height: 1.14px;
                letter-spacing: 0.02em;
                font-weight: 500;
                        }
    
          
        }

        .link--hover {
            text-decoration: none;
            color: var(--secondary-color);
            transition-property: color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0;
    
            &:hover,
            &:focus {
                color: var(--main-color);
                transform: color;
                fill: var(--main-color);
            }
        }


        .active {
            &::after {
                content: "";
                display: block;
                border-bottom: 4px solid var(--main-color);
                border-radius: 2px;
                transform: translateY(41px);
    
            }
    
            &--choose::after {
                content: "";
                display: block;
                border-bottom: 4px solid transparent;
                border-radius: 2px;
                transform: scaleX(0) translateY(41px);
                transform-origin: right;
                transition: transform 150ms ease-in;
            }
    
            &--choose:hover::after,
            &--choose:focus::after {
                content: "";
                display: block;
                border-bottom: 4px solid var(--main-color);
                border-radius: 2px;
                transform: scaleX(1) translateY(41px);
                transform-origin: left;
            }
    
        }
            }
    
        }
    
        




@media screen and (min-width: 1200px) {

.header {
    justify-content: center;
        max-width: 1600px;

        &__logo-div {
            margin-right: 93px;
        }

        &__div {
            padding: 26px 0;

        }

        &__menu {
            display: none;

        }

        &__mail {
            margin-right: 10px;
        }

        &__mail-svg {
            width: 16px;
            height: 12px;
            margin-right: 10px;
        }

        &__tel-svg {
            width: 10px;
            height: 16px;
            margin-right: 10px;
        }

        &__contact {
            display: flex;
            flex-direction: row;
        }

        .nav-header {
            display: unset;
            margin-left: auto;
            margin-right: 345px;
        }



        .active {
            &::after {
                transform: translateY(39px);
            }

            &--choose::after {
                content: "";
                transform: scaleX(0) translateY(39px);
            }

            &--choose:hover::after,
            &--choose:focus::after {
                content: "";
                transform: scaleX(1) translateY(39px);
            }

        }
    }

}

