
.about-us{
    display: none;
}

@media screen and (min-width:1200px) {
.about-us {
    max-width:1200px;
    display: unset;

        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 94px;
        }

        &__list-point {
            position: relative;
        }

        &__list-point:not(:last-child){
            margin-right: 30px;
        }

        &__text {
            position: absolute;
            background: rgba(47, 48, 58, 0.8);
            color: var(--transparent-fill);
            bottom: 0;
            left: 0;
            width: 370px;
            height: 70px;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            padding-top: 27px;
        }

}
}




/*
.about-us{
    &__list-point {
        position: relative;
    }

    &__text {
        position: absolute;
        background: rgba(47, 48, 58, 0.8);
        color: var(--transparent-fill);
        bottom: 0;
        left: 0;
        width: 370px;
        height: 70px;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding-top: 27px;
    }

}
*/
