.modal--title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 12px;
}

.form {
    margin-top: 12px;

    &__input {
            font-size: 12px;
            line-height: 1.167;
            letter-spacing: 0.01em;
            color: var(--background-color);
            margin-bottom: 10px;
        }
    
    &__input-last {
            font-size: 12px;
            line-height: 1.167;
            letter-spacing: 0.01em;
            color: var(--background-color);
        }
    
    &__input-bar {
            display: block;
            position: relative;
            margin-top: 4px;
            margin-bottom: 10px;
            height: 40px;
        }
    
    &__input-area {
            width: 100%;
            height: 40px;
            padding-left: 35px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__svg {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            fill: var(--secondary-color);
        }
    
    &__textarea {
            display: block;
            position: relative;
            margin-top: 4px;
            margin-bottom: 10px;
        }
    
    &__textarea-bar {
            resize: none;
            width: 100%;
            height: 120px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 12px 16px;
            color: var(--secondary-color);
        }
    &__textarea-bar:placeholder-shown {
                    font-size: 12px;
                    line-height: 1.167;
                    letter-spacing: 0.01em;
                    color: rgba(117, 117, 117, 0.5);
                }
        
    &__input-area:focus,
    &__textarea-bar:focus {
                    border-color: var(--main-color);
                    outline: none;
                }
        
    &__input-area:focus+&__svg {
                    fill: var(--main-color);
                }
        
        
    &__policy-link {
                    display: inline-block;
                    margin-left: 3px;
                    margin-right: 3px;
                    color: var(--main-color);
                }
        
    &__policy-text::before {
                    display: inline-block;
                    content: "";
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    opacity: 0.85;
                }
        
    &__policy-check:checked+&__policy-text::before {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
                    opacity: 1;
                }
        
    &__policy-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    line-height: 1.71;
                    letter-spacing: 0.03em;
                    color: var(--background-color);
                    margin-bottom: 30px;
                }
}


