:root {

/*COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS*/
    --main-color: #2196f3;
    --secondary-color: #212121;
    --background-color: #757575;
    --footer-background: #2f303a;
    --transparent-fill: #ffffff;
    --btn-background: #f5f4fa;
    --portfolio-frames: #eeeeee;
    --header-border: #ECECEC;
    --svg-color: #afb1b8;
    --gradient: rgba(47, 48, 58, 0.4);


    
/* FONTS * * FONTS * * FONTS * * FONTS * * FONTS * * FONTS *  * FONTS * * FONTS * * FONTS * * FONTS * * FONTS * * FONTS */
    --logo-font: 'Raleway';
    --body-font: 'Roboto';
}

